* {
    outline: none;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    pointer-events: visible !important;
}



body {
    background-color: #fff9ea;
    display: flex;
    font-family:
        /*"Source Sans Pro",*/
        "Roboto Mono", monospace, Helvetica, sans-serif;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
    z-index: 10;
    font-weight: 400;
    color: #000001;
    margin: 0px;
    margin-top: 12px;
}

.logo {
    text-align: center;
    justify-content: center;
    display: flex;
}

.logo-sln {
    width: 120px;
}
.pr input {
    background-color: black;
    height: 40px;
    color: darkorange;
    width: 100px;
    border: 0 2px solid orange;
    border-radius: 4px;
    border-color: black;
    margin-left: 40vw;
    margin-top: -4px;
    text-align: center;
   
}

input#mySelect::-webkit-inner-spin-button {
    min-width: 40px !important;
    height:28px;
    display: none;
}

.pr { position: fixed;
    width:100vw;
    max-height:40px;
    top:0;
    overflow: hidden;
    margin-right: 15vw;
    text-align: center;
    z-index: 20000;
}

.sfooter {
    position: fixed;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 3vh;
    line-height: 1vh;
}

.logo-links {
    width: 60%;
    min-width: 220px;
    display: inline-flex;
    justify-content: space-around;
}


.logo-twitter,
.logo-discord {
    height: 28px;
    width: 28px;
    max-height: 28px;
    max-width: 30px;
    line-height: 28px;
    margin-left: 10px;
    display: inline;
    pointer-events: none;
}

.logo-ss {
    height: 240px;
    margin-left: 1vw;
    pointer-events: none;
    margin-right: 1vw;
    max-width: 11vw;
}



.logo-twitter,
.logo-discord,
.logo-metaplex {
    width: 80px;
    display: inline;
}


.logo-solana {
    height: 30px;
    padding-top: 2px;
    margin-left: -4px;
    margin-bottom: -9px;
}


.prev {
    width: 380px;
    margin: 0px auto;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items:center;
}


.spp, .spb {
    font-family: /*"Source Sans Pro",*/ "Roboto Mono", monospace, Helvetica, sans-serif;
    margin: auto;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    display: inline-flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    margin-top: calc(45vh - 384px);
}


.spp {
    width: 960px;
    flex-direction: row;
    align-items: baseline;
    margin-top: calc(45vh - 384px);
}

.spb {
    font-family: /*"Source Sans Pro",*/ "Roboto Mono", monospace, Helvetica, sans-serif;
    width: 1000px;
    flex-direction: column;
    margin-top: calc(35vh - 384px);
}



.prev {position: fixed;
z-index: 10000;}

.spp img {
    width: 384px !important;
    height: 384px !important;

}

.spb img {
    width: 1000px !important;
    height: 334px !important;
    margin-top:20px;
}




.cbx {
    width: 74px;
    height: 32px;
    background: #ddbe58;
    margin: auto;
    position: relative;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}


    .cbx label {
        display: block;
        width: 28px;
        height: 26px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        background: #fff9ea;
        border-radius: 4px;
        transition: all 0.4s ease;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    }





.blog-article li {
    margin-top: 0.5em;
    pointer-events: visible !important;
}


.lines {
    margin-top: 4px;
    height: 4px;
    background: #fff9ea;
}

.bbutton {
    border-bottom: 3px solid #000001;
    text-decoration: none;
    padding-bottom: 11px;
}

.blog {
    display: grid;
    padding-top: 2.7vh;
    margin-top: -1.4vh;
    max-height: 280px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    overflow: hidden;
    grid-template-columns: 12% 22% 22% 22% 22%;
    grid-template-rows: 100%;
    width: 96vw;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
}

.dummy {
    display: grid;
    grid-template-columns: 12% 22% 22% 22% 22%;
    grid-template-rows: 100%;
    width: 96vw;
    max-height: 0px;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
}

.blog-m {
    grid-template-columns: 12% 22% 44% 22%;
}





.blog-part {
    padding: 0 1vw;
    display: grid;
    align-content: space-between;
}


.blog-intro {
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    height: 220px;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.blog-intro span {
    align-self: flex-end;
}

.blog-part:not(:last-child) {
    border-right: 3px solid #000001;
}


.blog-menu.rounded:before {
    content: "";
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    margin-right: 12px;
}

.blog .is-menu {
    display: flex;
    flex-direction: column;
}




.blog-header {
    display: flex;
    flex-direction: inherit;
    flex-wrap: inherit;
    align-content: baseline;
    justify-content: space-between;
    align-items: flex-end;
}

.blog-article {
    flex-grow: 20;
    display: flex;
    flex-direction: row-reverse;
}

i {
    font-style: italic;
}


img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

a:hover {
    text-decoration: underline !important;
}


.page-number {
    display: contents;
    flex-direction: row;
}






.small-title {
    border-bottom: 3px solid #000001;
    margin-bottom: 20px;
    max-height: 3em;
    align-items: center;
}





.blog-article h2 span {
    font-style: italic;
}


.blog-article a svg {
    width: 26px;
    margin-right: 10px;
}

.blog-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-detail span {
    font-style: italic;
    font-weight: 700;
}

.blog-header-container {
    border-right: 3px solid #000001;
}



.blog-header-container>* {
    flex-shrink: 0;
    min-height: 100%;
}

.blog-header-container .blog-article:not(.header-article) {
    flex-grow: 1;
    display: flex;
    margin-bottom: 1vh;
    flex-direction: column;
}



.blog-right {
    overflow: auto;
    text-align: left;
    height: 240px;
    display: contents;
}

.blog-right .rounded {
    font-style: italic;
    font-weight: 700;
}

.blog-right .rounded:before {
    content: "";
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #161419;
    margin-right: 6px;
}

.blog-right-title {
    text-transform: uppercase;
    border-top: 3px solid #000001;
    border-bottom: 3px solid #000001;
    width: 19.5vw;
    height: 43px;
    position: absolute;
    background-color: #fff9ea;
    display: inline-grid;
    align-content: center;
    align-items: center;
    justify-items: start;
}

.blog-right-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #000001;
    letter-spacing: -1px;
}




.blog-right-page {
    margin-bottom: 0px;
}

.blog-right-page-title {
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 1vh;
}

.blog-right-page-content {
    margin-top: 8px;
    pointer-events: none;
}



.right-blog {
    display: flex;
    flex-direction: column;
}



::-webkit-scrollbar {
    display: none;
}


a {
    color: #000001 !important;
    text-decoration: none;
}


a:visited {
    color: #000001;
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////*/




.content,
.content-m {
    width: 72vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: calc(96vw / 3);
    position: relative;
    overflow: hidden;
}

.content-m {
    width: 88vw;
    margin-left: 6vw;
    margin-right: 6vw;
}

.content .items,
.content .items-b,
.content-m .items-c,
.content-m .items-d {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.content .items img,
.content .items-b img,
.content-m .items-c img,
.content-m .items-d img {
    width: 100%;
    left: 0;
}


.content .items img:not(:first-child),
.content .items-b img:not(:first-child),
.content-m .items-c img:not(:first-child),
.content-m .items-d img:not(:first-child) {
    display: none;
}

.arrows {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    position: absolute;
}

.arrows-m {
    margin-top: -40vw;
}




.arrows img,
.arrows-m img {
    margin-top: -13vw;
    width: 2vw;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
}

.arrows-m img {
    max-width: 1.6rem !important;
}

.arrows img:nth-of-type(1),
.arrows-m img:nth-of-type(1) {
    left: 0;
    transform: rotate(-180deg);
}

.arrows img:nth-of-type(2),
.arrows-m img:nth-of-type(2) {
    transform: rotate(0deg);
    right: 0;
}


.tabs,
.tabs-m {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-end;
    align-items: baseline;
    overflow: hidden;
}


.xtramg {
    margin-top: 55px;
}

.tabs-m {
    width: 100vw;
    font-size: 1em;
    min-height: 96vw;
    z-index: 0;
    overflow: hidden;
    margin-top: 1vh !important;
    justify-content: flex-start !important;
}


.tabs label,
.tabs-m label {
    order: 1;
    margin-right: 1vw;
    display: block;
    padding-right: 1vw;
    cursor: pointer;
    font-weight: 400;
    transition: background ease 0.2s;
    margin-bottom: 10px;
    padding-left: 10px;
    max-height: 40px;
}

.tabs-m label {
    margin-left: 6vw;
    font-weight: 400;
}


.tabs .tab {
    order: 99;
    flex-grow: 1;
    max-height: calc(96vw / 3);
    display: none;
}

.tabs-m .tab-m {
    order: 99;
    flex-grow: 1;
    max-height: 96vw;
    display: none;
}


.tabs input[type=radio],
.tabs-m input[type=radio] {
    display: none;
}

.tabs input[type=radio]:checked+label,
.tabs-m input[type=radio]:checked+label {
    font-weight: 600;
    border-left: 2px solid #000001;
    padding-left: 7px;
}

.tabs input[type=radio]:checked+label+.tab,
.tabs-m input[type=radio]:checked+label+.tab-m {
    display: block;
}


.load_banner {
    max-width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
}




.load_traits h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

.load_traits h3 {
    padding: 0;
    margin: 0;
    font-size: 1em;
}




@media only screen and (min-width: 951px) {

    #mob,
    .mob {
        visibility: hidden;
        display: none;
        overflow: hidden;
    }

    #desk,
    .desk {
        display: normal;
        visibility: visible;
        overflow: visible;
    }

    .load_banner_name {
        display: grid;
        grid-template-columns: 57% 42%;
        margin-top: 50px;
        align-items: center;
    }
}

/*//////////MOBILE/////////////////////*/

@media only screen and (max-width: 950px) {

    .memo-part {
        padding: 0 1vw;
        display: grid;
        align-content: space-between;
        position: fixed !important;
        top: 10vh !important;
    }

    .load_traits {
        max-width: 88vw;
    }



    .align-b {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        max-width: 88vw;
        margin-left: 0;
        font-size: 1em !important;
        margin-top: -10vh;
        height: fit-content !important;
        margin-right: 0;
        border-top: none !important;
    }

    .load_banner_name {
        display: grid;
        align-items: baseline;
        margin-top: auto;
        margin-bottom: 5vh;
        text-align: center;
    }

    .blog-right-title {
        text-transform: uppercase;
        border-top: 0px solid #000001;
        border-bottom: 0px solid #000001;
        width: 96vw;
        font-size: 1.2em;
        padding-top: 0px;
        height: 20px;
        position: relative;
        background-color: #fff9ea;
    }

    .blog-right-page-title {
        font-weight: 400;
        font-size: 1em;
        margin-top: 1vh;
    }

    .load_banner {
        max-width: 88vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 25vh;
        z-index: 0;
        max-height: 75vh;
        overflow-y: scroll;
        bottom: 0;
    }

    #desk,
    .desk {
        visibility: hidden;
        display: none;
        overflow: hidden;
    }

    #mob,
    .mob {
        display: normal;
        visibility: visible;
        overflow: visible;
    }

    .arrows-m img {
        width: 50px;
        margin-top: -2vw !important;
    }

    .blog {
        max-height: calc(95vh - 100vw);
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        top: 0vh;
        width: 88vw;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .blog-intro {
        height: auto;
        padding-bottom: 2vh;
    }

    .blog-right {
        border-top: 3px solid #000001;
        padding-top: 2vh;
        margin-bottom: 2vh;
        padding-bottom: 2vh;
    }

    .logo {
        position: fixed;
        top: 0vh;
        display: none;
    }

    .logo-twitter,
    .logo-discord {
        height: 6vw;
        width: 6vw;
        max-height: 6vw;
        max-width: 6vw;
    }


    #menu {
        position: fixed;
        top: 2vh;
        font-size: 1.5em;
        right: 2vw;
        height: 9vh;
        background-color: #fff9ea;
        display: grid;
        align-content: space-between;
        align-items: stretch;
        justify-content: center;
    }


    .blog-part:not(:last-child),
    .blog-header-container {
        border-right: 0px solid #000001;
    }


    .logo-links {
        position: fixed;
        top: 2vh;
        left: 0vw;
        width: 80vw;
        background-color: #fff9ea;
        z-index: 5;
    }

    .content,
    .content-m {
        height: 88vw;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .blog-right {
        padding-top: 3vh;
    }

    .xtramg {
        margin-top: 10px;
    }
}


/*///////////////////////MENU//////////////////////////*/


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2vw;
    z-index: 1000;
}

.navbar-btn {
    background: #fff9ea;
    color: #000001;
    font-size: 1.2em;
    border-radius: 3px;
    border: 2px solid #000001;
    padding: 0 4px;
    font-weight: 900;
    z-index: 1000;
}

.nav-item {
    background-color: #fff9ea;
}

.navbar-inner {
    background: #fff9ea;
    opacity: 0;
    position: absolute;
    right: 0;
    margin-right: 5.9vw;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    text-align: center;
}

.navbar-inner.in {
    opacity: 100;
    visibility: visible;
}

.nav {
    margin-top: -20vh;
    z-index: 10;
    border-bottom: 3px solid #000001;
}

.nav-link {
    display: inline-flex;
    min-width: 88.2vw;
    padding: 2vh;
    text-decoration: none;
    justify-content: center;
    border-top: 3px solid #000001;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: stretch;
    white-space: normal;
}

li.nav-item:first-child {
    max-width: 78vw;
    margin-top: 14vh;
    margin-right: 10vw;
    overflow: hidden;
}

li.nav-item.last {
    display: flex;
    border-top: 3px solid #000001;
    padding: 1vh;
    justify-content: space-between;
    padding-left: 16vw;
}



/*////////////ARMORY///////*/

h2 {
    font-size: 1.0em;
    font-weight: 600;
}

img {
    display: flex;
    max-width: 500px !important;
    max-height: 192px !important;
}

.infinite-status-prompt {
    display: none;
}

progress {
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: cyan;
    filter: sepia(1);
    max-height:6px;
    z-index: 10001;
    position: fixed;
    top:2px;
}

.text-white {
    color: #fff9ea;
}

.text-black {
    color: #000001;
}

.blog {
    grid-template-columns: 12% 22% 44% 22% !important;
    position: fixed;
    background-color: #fff9ea;
    z-index: 1001;
}

.p-10 {
    padding: 0 !important;
    margin-left: 2vw;
}

.intro {
    margin-top: 0px
}

h1 {
    margin-top: 0px;
}

.connect {
    display: inline-flex;
    padding-top: 15px;
    min-height: 66px !important;
    max-height: 66px;
    overflow: visible;
    align-content: stretch;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid #000001;
    flex-direction: row;
    z-index: 11111;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#wallet,
.nes-btn {
    font-family: monospace;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    height: 40px;
    background-color: #ddbe58 !important;
    border: 0 !important;
    color: #000 !important;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    min-width: 100%;
    padding: 8px 20px;
}

select {
    padding-right: 20px;
}

.connect-b {
    padding-top: 223px;
    max-height: 100%;
    align-content: stretch;
    width: 100%;
    border-bottom: 3px solid #000001;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
}

.logo-rotate {
    left: 0;
    height: 24px;
    margin-bottom: -7px;
    transform: rotate(-180deg);
}

.nes-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 248px;
}

.back_gallery {
    font-size: 16px;
    position: absolute;
}

.material-symbols-outlined {
    margin-bottom: -5px !important;
}
@media only screen and (max-width: 1440px) {
    .logo {visibility: hidden;}
}

@media only screen and (max-width: 950px) {

   

    .intro {
        margin-top: 0;
    }

    .pfpog, #psp, #pog {margin-left: -260px !important;
        margin-top: -25px;
        position: absolute;
        display: none;
    
    } 
        
    .nftdisplay, .nftpre {
    padding-left: 1vw !important;
    margin-left: calc((84vw - 500px) /2);

    }
    

    img {

        max-width: 500px;
        max-height: 192px !important;
    }

    .nav-link {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    .nes-container img,
    .nes-container {
        max-width: 500px!important;
        padding: 0vw 0vw;
    }

    .connect {
        border-bottom: none;
    }

    h2 {
        font-size: 0.8em;
    }

    h1 {
        display: none;
    }
    .blog-right {
        border-top: none;
    }

    .blog-part {
        max-width: 96vw;
    }

    .blog {
        position: fixed;
        overflow: hidden;
        border-bottom: 3px solid #000001;
        width: 96vw !important;
        background-color: #fff9ea;
        top: 0 !important;
        margin: 0;
        max-height: fit-content;
    }

    progress {
        position: relative;
        width: 96vw;
        background-color: cyan;
        filter: sepia(1);
        margin-left: 0vw;
        max-height: 12px;
        z-index: 10000;
        position: fixed;
        top:-2px;
    }

    #app {
        margin-top: 24vh;
        width:96vw;
        align-items: center;
        margin-bottom: 1vh;
        margin-right: auto;
    }
}

.hidden {
    display: none;
}





.cbz {
    display: inline-flex;
    width: 74px;
    height: 40px;
    background: #ddbe58;
    margin: -17px 0px 0px 0px;
    position: relative;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.cbz:after {
    color: #fff9ea;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/40px 'robot mono', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.cbx:before,
.cbz:before {
    color: #000000;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/40px 'robot mono', sans-serif;
    font-weight: bold;
}


.cbz:after {
    content: 'OG';
}

.cbz:before {
    content: 'SP';
}


.cbz label {
    display: block;
    width: 28px;
    height: 33px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fff9ea;
    border-radius: 4px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.cbz input[type=checkbox] {
    visibility: hidden;
}

.cbz input[type=checkbox]:checked+label {
    left: 43px;
}

#ssuns, .ssuns {
    display: inline-flex;
    align-items: start;
    align-content: end;
    justify-content: space-between;
    justify-items: start;
    width: 700px;
    position: inherit;
}

.preview {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: flex-end;
    flex-direction: row;
}

.pfpog, #psp, #pog  {margin-left: -260px !important;
    position: absolute; margin-top: -15px;} 

.pfpog {margin-top: -25px;}

.nftdisplay {
padding-left: calc((98vw - 250px)/2);
position: absolute;
}

.nftpre {
    padding-left: calc((98vw - 250px)/2);
    align-items: baseline;
    margin-bottom: 30px ;
    position: relative;
    max-height: 192px;
    }

